@media (min-width: 320px) and (max-width: 480px) {
    .mobile {
        display: none;
    }

    #xyzx {
        width: 120px;
        margin-left: 10px;
    }

    #wyzd {
        position: relative;
        left: 250px;
        top: -40px;
        background-image: url(./images/pinki.jpg);
    }

    #talib {
        position: relative;
        top: 30px;
    }

    #tali {
        position: relative;
        top: 15px;
        right: 10px;
    }

    #taley {
        position: relative;
        top: 0px;
        left: 3px;
    }

    .padding {
        position: relative;
        top: 110px;
        right: 185px;
        font-size: 20px;
    }

    .margin {
        position: relative;
        top: 70px;
        right: 50px;
        font-size: 20px;
    }

    .mag {
        position: relative;
        top: 30px;
        right: 15px;
        font-size: 20px;
    }

    .top {
        width: 200px;
        position: relative;
        left: 10px;
        top: 260px;
    }

    .tops {
        width: 200px;
        position: relative;
        right: 70px;
        top: 270px;
    }

    .ten {
        width: 300px;
        position: relative;
        right: 120px;
        top: -180px;
    }

    #one {
        position: relative;
        top: -160px;
        left: -180px;
        width: 300px;
    }

    .nine {
        position: relative;
        top: -180px;
        right: 150px;
    }

    .mobil {
        position: relative;
        top: -180px;
        right: 125px;
        width: 130px;
    }

    .section-1 {
        height: 740px;
        background-color: #3c00ac;
    }

    #heading {
        position: relative;
        right: 50px;
    }

    .palang h1 {
        display: block;
        color: white;
        position: relative;
        top: 70px;
        left: 130px;
    }

    .bag h1 {
        display: none;
    }

    .headijiu {
        position: relative;
        left: 70px;
    }

    #ballo {
        width: 300px;
        margin-left: -60px;
        margin-top: 20px;
    }

    .section-2 {
        background-color: #97bad8;
        height: 850px;
    }

    #heading {
        text-align: center;
    }

    .section-3 {
        background-color: rgb(223, 30, 94);
        height: 930px;
    }

    .mubassir {
        position: relative;
        top: 80px;
        right: 70px;
    }

    #heading-2 {
        position: relative;
        right: 20px;
    }

    #paragraph {
        margin-left: -100px;
        margin-top: 43px;
    }

    .section-5 {
        width: 345px;
        display: none;
    }

    .benyan {
        position: relative;
        top: 1230px;
    }

    .section-4 {
        background-color: #008679;
        height: 1650px;
    }

    #heading-8 {
        margin-right: 10px;
    }

    #watche {
        width: 100px;
    }

    #heading-9 {
        font-size: 20px;
        font-weight: bold;
        margin-top: -12px;
        color: white;
    }

    #heading-10 {
        font-size: 20px;
        color: white;
    }

    .rwop {
        margin-top: -2px;
        margin-left: -70px;
    }

    .hakeem {
        font-size: 15px;
        margin-top: -10px;
    }

    #heading-3 {
        color: red;
    }

    #heading-4 {
        font-size: 20px;
        margin-top: -20px;
    }

    #heading-5 {
        font-size: 20px;
        margin-top: -20px;
    }

    #heading-6 {
        color: red;
    }

    .section-3 {
        height: 800px;
    }

    #paragraph {
        color: lightblue;
    }

    #heading-11 {
        margin-top: -100px;
        margin-left: 50px;
        color: white;
        border: 2px solid yellow;
    }

    #heading-12 {
        margin-top: -10px;
        color: white;
    }

    .br {
        display: none;
    }

    #heading-13 {
        margin-left: 50px;
        color: white;
        border: 2px solid yellow;
    }

    #heading-14 {
        margin-top: 90px;
        margin-left: -60px;
        color: white;
    }

    #heading-15 {
        margin-left: 50px;
        margin-top: 5px;
        color: white;
        border: 2px solid yellow;
    }

    #heading-16 {
        margin-top: 120px;
        margin-left: -60px;
        color: white;
    }

    #heading-17 {
        margin-left: 50px;
        color: white;
        border: 2px solid yellow;
    }

    #heading-18 {
        margin-top: 105px;
        margin-left: -60px;
        color: white;
    }

    #heading-19 {
        margin-left: 50px;
        color: white;
        border: 2px solid yellow;
    }

    #heading-20 {
        margin-top: 105px;
        margin-left: -60px;
        color: white;
    }

    .rews {
        height: 200px;
        width: 380px;
    }

    #heading-34 {
        margin-left: 50px;
    }

    .paragraph-10 {
        font-size: 15px;
    }

    .rewss {
        height: 220px;
    }

    .tdr {
        display: block;
    }

    .wag {
        font-size: 20px;
    }

    .rewsss {
        height: 150px;
    }

    .rewssss {
        height: 190px;
    }

    .rewsssss {
        height: 220px;
    }

    .rewssssss {
        height: 390px;
    }

    .section-7 {
        height: 1700px;
    }

    .heading-43 {
        font-size: 12px;
        /* margin-left: px; */
    }

    .heading-42 {
        font-size: 26px;
        position: relative;
        left: -20px;
    }

    .section-6 {
        height: 950px;
    }

    .colui {
        margin-top: -335px;
    }

    .br {
        display: none;
    }

    #monkey {
        width: 150px;
        margin-left: 20px;
    }

    #heading-22 {
        font-size: 15px;
        margin-left: 25px;
    }

    #heading-23 {
        font-size: 10px;
        margin-left: -15px;
        margin-top: -5px;
    }

    #monkey-2 {
        width: 150px;
        margin-left: -10px;
    }

    #heading-24 {
        font-size: 15px;
    }

    #heading-25 {
        font-size: 10px;
        margin-left: -40px;
        margin-top: -5px;
    }

    #monkey-3 {
        width: 150px;
        position: relative;
        top: -100px;
        margin-left: 20px;
    }

    #heading-26 {
        font-size: 15px;
        position: relative;
        top: -100px;
        left: 55px;
    }

    #heading-27 {
        font-size: 10px;
        position: relative;
        top: -100px;
        left: 70px;
    }

    #heading-21 {
        margin-left: 70px;
    }

    #monkey-4 {
        width: 150px;
        position: relative;
        top: -100px;
        margin-left: -10px;
    }

    #heading-28 {
        font-size: 15px;
        position: relative;
        top: -100px;
        /* left: -10px; */
    }

    #heading-29 {
        font-size: 10px;
        position: relative;
        top: -100px;
        margin-left: -20px;
    }

    #monkey-5 {
        width: 150px;
        position: relative;
        top: -135px;
        margin-left: -10px;
    }

    #heading-32 {
        font-size: 15px;
        position: relative;
        top: -80px;
        margin-left: 35px;
    }

    #heading-33 {
        font-size: 10px;
        position: relative;
        top: -80px;
        margin-left: 15px;
    }

    #monkey-6 {
        width: 150px;
        position: relative;
        top: -80px;
        margin-left: 20px;
    }

    #heading-30 {
        font-size: 15px;
        position: relative;
        top: -135px;
        margin-left: 12px;
    }

    #heading-31 {
        font-size: 10px;
        position: relative;
        top: -135px;
        margin-left: -2px;
    }

    .paddingss {
        font-size: 30px;
        margin-left: -85px;
    }

    .section-8 {

        height: 300px;
    }

    .footer {
        height: 500px;
    }

    #image-10 {
        text-align: center;
        width: 230px;
        position: relative;
        left: -36px;
    }

    #icon12 {
        margin-bottom: 30px;

    }

    #heading-45 {
        font-size: 12px;
        margin-left: -62px;
    }

    .fixed h5 {
        font-size: 12px;
        color: white;
        position: relative;
        top: 95px;
        left: 16px;
        font-family: 'Baloo Bhai 2', cursive;
    }

    .paddingswe {
        font-size: 18px;
        margin-top: 20px;
        margin-left: -170px;
    }

    .margines {
        font-size: 18px;
        margin-top: 15px;
        margin-left: -190px;
    }

    .magxyzx {
        font-size: 18px;
        margin-top: 15px;
        margin-left: -210px;
    }

}